<div>
	<h1>{{printText}}</h1>
	<fieldset>
		<legend>LISTADO CAJA</legend>
		<cjs:button data-on="click:printList" class="button-print">
			<text>IMPRIME</text>
			<class>fa-print</class>
		</cjs:button>
		<strong>FECHA</strong>
		DESDE <input type="date" data-item="filter-list-from" required/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		HASTA <input type="date" data-item="filter-list-to" required/>
		<br/><br/>
		USUARIOS:
		<cjs:switch data-id="filter-list-salitre"></cjs:switch>
		SALITRE
		&nbsp;&nbsp;
		<cjs:switch data-id="filter-list-compania"></cjs:switch>
		COMPANIA
	</fieldset>
	<br/><br/>
	<fieldset>
		<legend>FACTURAS</legend>
		<cjs:button data-on="click:printBills" class="button-print">
			<text>IMPRIME</text>
			<class>fa-print</class>
		</cjs:button>
		<strong>FECHA</strong>
		DESDE <input type="date" data-item="filter-bill-from" required/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		HASTA <input type="date" data-item="filter-bill-to" required/>
		<br/><br/>
		USUARIOS:
		<cjs:switch data-id="filter-bill-salitre"></cjs:switch>
		SALITRE
		&nbsp;&nbsp;
		<cjs:switch data-id="filter-bill-compania"></cjs:switch>
		COMPANIA
		<br/><br/>
		PRIMERO NUMERO DE FACTURA: <input type="number" data-item="billNumber" value="1"/>
	</fieldset>
	<br/><br/>
	<fieldset>
		<legend>RESIDUOS TARJETAS</legend>
		<cjs:button data-on="click:printCards" class="button-print">
			<text>IMPRIME</text>
			<class>fa-print</class>
		</cjs:button>
		USUARIOS:
		<cjs:switch data-id="filter-cards-salitre"></cjs:switch>
		SALITRE
		&nbsp;&nbsp;
		<cjs:switch data-id="filter-cards-compania"></cjs:switch>
		COMPANIA
	</fieldset>
	<br/><br/>
	<fieldset>
		<legend>TOTAL POR CLIENTES</legend>
		<cjs:button data-on="click:printClients" class="button-print">
			<text>IMPRIME</text>
			<class>fa-print</class>
		</cjs:button>

		USUARIOS:
		<cjs:switch data-id="filter-clients-salitre"></cjs:switch>
		SALITRE
		&nbsp;&nbsp;
		<cjs:switch data-id="filter-clients-compania"></cjs:switch>
		COMPANIA
	</fieldset>
</div>
