.& {
	width: 100%;
	text-align: left;
	color: $mainTextColor;
}
.& {line-height: 33px;}
.& label {display: inline-block; width: 150px}
.& input, .& select, .& textarea {width: 500px;height: 25px;padding: 2px;margin: 5px;}
.& textarea {height: auto; vertical-align: top;}
.& input.save {margin-left: 162px;height: 38px;}
.&.bonus-mode .hide-on-bonus-mode {display: none;}
.& .zero-funds { border: 1px solid red; padding: 5px; text-align: center; background: rgba(255,0,0,0.2); display: none;}
