<div>
	<h1 data-item="title">ANADE LA INFORMACION DE LA TRANSACION</h1>
	<div data-item="client-data">
		<hr/>
		Cliente:
		<span data-item="name"></span>
		<span data-item="surname"></span> -
		Email: <span data-item="email"></span> -
		Tel: <span data-item="tel"></span>
		<hr/>
		<span data-item="extra-info"></span>
	</div>
	<form data-on="submit:saveTransaction">
		<label class="hide-on-bonus-mode">NAME:</label>
		<input class="hide-on-bonus-mode" data-item="payer-name" type="text" required placeholder="name"/>
		<br class="hide-on-bonus-mode"/>
		<label>VALUE:</label>
		<input data-item="value" type="number" placeholder="value" required autofocus /><br />
		<input data-item="card-id" type="hidden" />
		<label>TYPE:</label>
		<select data-item="type">
			<option>efectivo</option>
			<option>tarjeta credito</option>
		</select><br/>
		<label>DESCRIPTION:</label>
		<textarea data-item="description" placeholder="DESCRIPTION" rows="6"></textarea>
		<br/>
		<input type="submit" class="save" value="SAVE" />
	</form>
</div>
