<div>
    <label>VALUE:</label>
    <input type="text" placeholder="value"/><br/>
    <label>TYPE:</label>
    <select>
        <option>CASH</option>
        <option>CREDIT CARD</option>
        <option>GIFT CARD</option>
    </select><br/>
    <label>DESCRIPTION:</label>
    <textarea placeholder="DESCRIPTION" rows="6"></textarea>
    <br/>
    <cjs:button data-on="tap-transaction-save:saveTransaction">
        <text>SAVE</text>
        <type>transaction-save</type>
        <id>{{id}}</id>
        <class>fa-save</class>
    </cjs:button>
</div>
