#website {
	min-width: 930px;
	margin: 0 auto;
	width: 930px;
}
body {
	font-family: Arial;
	background: url("images/bg/1.jpg");
}
body.loading {
	background: #000;
}
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(82, 174, 27, 0.5);
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(82, 174, 27, 0.5);
}
fieldset {
	background-color: rgba(82, 174, 27, 0.1);
	border-radius: 20px;
}
fieldset legend {
	display: none;
}
:focus {
	outline:none;
}
h1 {
	margin-top: 5px;
}
