<div data-item="month">
	<h5 data-item="month"></h5>
	<table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td data-item="h_0" class="day header">D</td>
			<td data-item="h_1" class="day header">L</td>
			<td data-item="h_2" class="day header">M</td>
			<td data-item="h_3" class="day header">X</td>
			<td data-item="h_4" class="day header">J</td>
			<td data-item="h_5" class="day header">V</td>
			<td data-item="h_6" class="day header">S</td>
		</tr>
		<tr>
			<td data-item="1_0" class="day" data-on="click:dayClick"></td>
			<td data-item="1_1" class="day" data-on="click:dayClick"></td>
			<td data-item="1_2" class="day" data-on="click:dayClick"></td>
			<td data-item="1_3" class="day" data-on="click:dayClick"></td>
			<td data-item="1_4" class="day" data-on="click:dayClick"></td>
			<td data-item="1_5" class="day" data-on="click:dayClick"></td>
			<td data-item="1_6" class="day" data-on="click:dayClick"></td>
		</tr>
		<tr>
			<td data-item="2_0" class="day" data-on="click:dayClick"></td>
			<td data-item="2_1" class="day" data-on="click:dayClick"></td>
			<td data-item="2_2" class="day" data-on="click:dayClick"></td>
			<td data-item="2_3" class="day" data-on="click:dayClick"></td>
			<td data-item="2_4" class="day" data-on="click:dayClick"></td>
			<td data-item="2_5" class="day" data-on="click:dayClick"></td>
			<td data-item="2_6" class="day" data-on="click:dayClick"></td>
		</tr>
		<tr>
			<td data-item="3_0" class="day" data-on="click:dayClick"></td>
			<td data-item="3_1" class="day" data-on="click:dayClick"></td>
			<td data-item="3_2" class="day" data-on="click:dayClick"></td>
			<td data-item="3_3" class="day" data-on="click:dayClick"></td>
			<td data-item="3_4" class="day" data-on="click:dayClick"></td>
			<td data-item="3_5" class="day" data-on="click:dayClick"></td>
			<td data-item="3_6" class="day" data-on="click:dayClick"></td>
		</tr>
		<tr>
			<td data-item="4_0" class="day" data-on="click:dayClick"></td>
			<td data-item="4_1" class="day" data-on="click:dayClick"></td>
			<td data-item="4_2" class="day" data-on="click:dayClick"></td>
			<td data-item="4_3" class="day" data-on="click:dayClick"></td>
			<td data-item="4_4" class="day" data-on="click:dayClick"></td>
			<td data-item="4_5" class="day" data-on="click:dayClick"></td>
			<td data-item="4_6" class="day" data-on="click:dayClick"></td>
		</tr>
		<tr>
			<td data-item="5_0" class="day" data-on="click:dayClick"></td>
			<td data-item="5_1" class="day" data-on="click:dayClick"></td>
			<td data-item="5_2" class="day" data-on="click:dayClick"></td>
			<td data-item="5_3" class="day" data-on="click:dayClick"></td>
			<td data-item="5_4" class="day" data-on="click:dayClick"></td>
			<td data-item="5_5" class="day" data-on="click:dayClick"></td>
			<td data-item="5_6" class="day" data-on="click:dayClick"></td>
		</tr>
		<tr>
			<td data-item="6_0" class="day" data-on="click:dayClick"></td>
			<td data-item="6_1" class="day" data-on="click:dayClick"></td>
			<td data-item="6_2" class="day" data-on="click:dayClick"></td>
			<td data-item="6_3" class="day" data-on="click:dayClick"></td>
			<td data-item="6_4" class="day" data-on="click:dayClick"></td>
			<td data-item="6_5" class="day" data-on="click:dayClick"></td>
			<td data-item="6_6" class="day" data-on="click:dayClick"></td>
		</tr>
	</table>

</div>
