<div class="visible" data-item="wrapper">
	<cjs:button class="select">
		<type>card-select</type>
		<id>{{id}}</id>
		<class>fa-check</class>
	</cjs:button>
    <span class="created" data-item="created"></span>
	<span class="name" data-item="name"></span>
	<span style="display: none" data-item="user"></span>
	<cjs:button class="no-select">
		<type>card-write</type>
		<id>{{id}}</id>
		<class>fa-floppy-o</class>
	</cjs:button>
	<cjs:button class="no-select">
		<type>card-history</type>
		<id>{{id}}</id>
		<class>fa-clock-o</class>
	</cjs:button>
	<cjs:button class="no-select">
		<type>card-delete</type>
		<id>{{id}}</id>
		<class>fa-trash</class>
	</cjs:button>

</div>
