<div class="visible">
	<cjs:button class="select">
		<type>card-select</type>
		<id>{{id}}</id>
		<class>fa-check</class>
	</cjs:button>
    <span class="created" data-parser="short-date" data-server="cards/{{id}}/created"></span>
	<span class="name" data-server="cards/{{id}}/name"></span>
	<cjs:button class="no-select">
		<type>card-delete</type>
		<id>{{id}}</id>
		<class>fa-trash</class>
	</cjs:button>
	<cjs:button class="no-select">
		<type>card-write</type>
		<id>{{id}}</id>
		<class>fa-floppy-o</class>
	</cjs:button>
</div>
