.& {
  color: $mainTextColor;
  position: relative;
}
.& .total span {display: inline-block; color: #8b8b8b; line-height: 20px;}
.& .total .line {display: block; margin: 5px 0}
.& .total .label {
	width: calc(86% - 55px);
  text-align: right;
}
.& .total .strong {
	color: white;
	font-weight: bold;
}
.& .total .value {
  width: 120px;
  text-align: right;
}

.& .more-totals {
	display: none;
}
