.& {
  color: $mainTextColor;
  position: relative;
}
.& .total span {display: inline-block; color: #6b6b6b}
.& .total .label {
  width: 748px;
  text-align: right;
}
.& .total .strong {
	color: white;
	font-weight: bold;
}
.& .total .value {
  width: 120px;
  text-align: right;
}
