<div>
	<cjs:list data-item="test" data-id="list" data-on="refresh:refresh"></cjs:list>
	<div class="total">
		<hr/>
		<div class="line"><span class="label strong">TOTAL:</span><span class="value strong" data-item="total"></span></div>
		<div class="line"><span class="label">TOTAL TARJETAS:</span><span class="value" data-item="card-total"></span></div>
		<hr/>
		<div class="line"><span class="label">TOTAL SELECIONADO:</span><span class="value" data-item="selected-total"></span></div>
		<div class="line"><span class="label">IVA SELECIONADO:</span><span class="value" data-item="iva-total"></span></div>
	</div>
</div>
