<header>
    <img alt="{{organizationName}}" src="{{logoUrl}}"/>
	<cjs:button data-id="calendar" class="">
		<text>{{calendarText}}</text>
		<class>fa-calendar</class>
		<type>header</type>
		<id>calendar</id>
		<main-color>$secondaryColor</main-color>
		<main-text-color>$mainSecondaryTextColor</main-text-color>
	</cjs:button>
    <cjs:button data-id="clients" class="">
        <text>{{clientsText}}</text>
        <type>header</type>
        <id>clients</id>
        <class>fa-user</class>
        <main-color>$secondaryColor</main-color>
        <main-text-color>$mainSecondaryTextColor</main-text-color>
    </cjs:button>
    <cjs:button data-id="cash">
        <text>{{cashText}}</text>
        <type>header</type>
        <id>cash</id>
        <class>fa-list-alt</class>
        <main-color>$secondaryColor</main-color>
        <main-text-color>$mainSecondaryTextColor</main-text-color>
    </cjs:button>
	<cjs:button data-id="cards" class="">
		<text>{{cardsText}}</text>
		<type>header</type>
		<id>cards</id>
		<class>fa-address-card</class>
		<main-color>$secondaryColor</main-color>
		<main-text-color>$mainSecondaryTextColor</main-text-color>
	</cjs:button>
    <cjs:button style="display:none;" data-id="users">
        <text>{{usersText}}</text>
        <type>header</type>
        <id>users</id>
        <class>fa-users</class>
        <main-color>$secondaryColor</main-color>
        <main-text-color>$mainSecondaryTextColor</main-text-color>
    </cjs:button>
	<!--<cjs:button data-id="archive" class="admin">-->
		<!--<text>{{archiveText}}</text>-->
		<!--<type>header</type>-->
		<!--<id>archive</id>-->
		<!--<class>fa-archive</class>-->
		<!--<main-color>$secondaryColor</main-color>-->
		<!--<main-text-color>$mainSecondaryTextColor</main-text-color>-->
	<!--</cjs:button>-->
	<!--<cjs:button data-id="stats" class="admin">-->
		<!--<text>{{statsText}}</text>-->
		<!--<type>header</type>-->
		<!--<id>stats</id>-->
		<!--<class>fa-line-chart</class>-->
		<!--<main-color>$secondaryColor</main-color>-->
		<!--<main-text-color>$mainSecondaryTextColor</main-text-color>-->
	<!--</cjs:button>-->
	<cjs:button data-id="print" class="admin">
		<text>{{printText}}</text>
		<type>header</type>
		<id>print</id>
		<class>fa-print</class>
		<main-color>$secondaryColor</main-color>
		<main-text-color>$mainSecondaryTextColor</main-text-color>
	</cjs:button>
    <cjs:button data-id="settings">
        <text>{{settingsText}}</text>
        <type>header</type>
        <id>settings</id>
        <class>fa-cog</class>
        <main-color>$secondaryColor</main-color>
        <main-text-color>$mainSecondaryTextColor</main-text-color>
    </cjs:button>
</header>
