<header>
    <img alt="{{organizationName}}" src="{{logoUrl}}"/>
    <corejs:round-button data-id="calendar">
        <text>{{calendarText}}</text>
        <class>fa-calendar</class>
        <main-color>$secondaryColor</main-color>
        <main-text-color>$mainSecondaryTextColor</main-text-color>
    </corejs:round-button>
    <corejs:round-button data-id="clients">
        <text>{{clientsText}}</text>
        <class>fa-address-card</class>
        <main-color>$secondaryColor</main-color>
        <main-text-color>$mainSecondaryTextColor</main-text-color>
    </corejs:round-button>
    <corejs:round-button data-id="users">
        <text>{{usersText}}</text>
        <class>fa-users</class>
        <main-color>$secondaryColor</main-color>
        <main-text-color>$mainSecondaryTextColor</main-text-color>
    </corejs:round-button>
    <corejs:round-button data-id="settings">
        <text>{{settingsText}}</text>
        <class>fa-cog</class>
        <main-color>$secondaryColor</main-color>
        <main-text-color>$mainSecondaryTextColor</main-text-color>
    </corejs:round-button>
</header>