<header>
    <img alt="{{organizationName}}" src="{{logoUrl}}"/>
    <!--<cjs:button data-id="calendar">-->
        <!--<text>{{calendarText}}</text>-->
        <!--<class>fa-calendar</class>-->
        <!--<type>calendar</type>-->
        <!--<main-color>$secondaryColor</main-color>-->
        <!--<main-text-color>$mainSecondaryTextColor</main-text-color>-->
    <!--</cjs:button>-->
    <cjs:button data-id="clients">
        <text>{{clientsText}}</text>
        <type>header</type>
        <id>clients</id>
        <class>fa-address-card</class>
        <main-color>$secondaryColor</main-color>
        <main-text-color>$mainSecondaryTextColor</main-text-color>
    </cjs:button>
    <cjs:button data-id="cash">
        <text>{{cashText}}</text>
        <type>header</type>
        <id>cash</id>
        <class>fa-money</class>
        <main-color>$secondaryColor</main-color>
        <main-text-color>$mainSecondaryTextColor</main-text-color>
    </cjs:button>
    <cjs:button data-id="users">
        <text>{{usersText}}</text>
        <type>header</type>
        <id>users</id>
        <class>fa-users</class>
        <main-color>$secondaryColor</main-color>
        <main-text-color>$mainSecondaryTextColor</main-text-color>
    </cjs:button>
    <cjs:button data-id="settings">
        <text>{{settingsText}}</text>
        <type>header</type>
        <id>settings</id>
        <class>fa-cog</class>
        <main-color>$secondaryColor</main-color>
        <main-text-color>$mainSecondaryTextColor</main-text-color>
    </cjs:button>
</header>