.& {
  display: inline-block;
  background-color: #69bf28;
  color: white;
  border-radius: 15px;
  width: auto;
  height: 30px;
  line-height: 30px;
  padding: 4px 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.& label {
margin-right: 5px;
}