.& {
  font-family: Arial;
  background-color: #cccccc;
  border-color: chartreuse;
  width: 155px;
  height: 600px;
  float: left;
  margin: 0 5px;
  padding: 0 10px;
  font-size: 20px;
  border-radius: 11px;
}

.& h6 {
  margin: 5px 0;
  font-size: 20px;
  text-align: center;
  color: #555;
}