<div>
	<h1>{{cashText}}</h1>
	<div class="sub-menu">
        <cjs:button>
            <type>transaction-pay</type>
            <text>PAGO</text>
            <class>fa-money</class>
        </cjs:button>
        <cjs:button>
			<type>transaction-buy</type>
			<text>COMPRAS</text>
			<class>fa-shopping-cart</class>
		</cjs:button>
        <cjs:button>
            <type>print</type>
            <text>IMPRIMIR</text>
            <class>fa-print</class>
        </cjs:button>
		|
		<cjs:button>
			<type>transaction-filter-empty</type>
			<text>EMPTY</text>
			<class>fa-filter</class>
		</cjs:button>
		<cjs:button>
			<type>transaction-filter-hoy</type>
			<text>HOY</text>
			<class>fa-filter</class>
		</cjs:button>
    </div>
	<fieldset class="list">
		<legend>Listado</legend>
    	<cjs:transaction-list data-id="transaction-list"></cjs:transaction-list>
	</fieldset>
</div>
