<div class="cash">
	<h1>Caja del Dia</h1>
	<div class="sub-menu">
        <cjs:button>
            <type>transaction-pay</type>
            <text>PAGO</text>
            <class>fa-money</class>
        </cjs:button>
        <cjs:button>
			<type>transaction-buy</type>
			<text>COMPRAS</text>
			<class>fa-shopping-cart</class>
		</cjs:button>&nbsp;
		&nbsp;&nbsp;&nbsp;
		<span class="admin dates" data-item="dates">
			<input data-on="change:filter" type="date" data-item="filter-from" required/> <=>
			<input data-on="change:filter" type="date" data-item="filter-to" required/>
		</span>
		<span class="admin users" data-item="users">
			<cjs:switch data-on="change:filter" data-id="salitre" data-value="salitre"></cjs:switch> SALITRE
			&nbsp;&nbsp;
			<cjs:switch data-on="change:filter" data-id="compania" data-value="compania"></cjs:switch> COMPANIA
		</span>
    </div>
	<fieldset class="list">
		<legend>Listado</legend>
    	<cjs:transaction-list data-id="transaction-list"></cjs:transaction-list>
	</fieldset>
</div>
