<div>
	<h1>{{cashText}}</h1>
	<div class="sub-menu">
        <cjs:button>
            <type>transaction-pay</type>
            <text>PAGO</text>
            <class>fa-money</class>
        </cjs:button>
		<cjs:button>
			<type>transaction-gift</type>
			<text>BONO</text>
			<class>fa-vcard-o</class>
		</cjs:button>
        <cjs:button>
			<type>transaction-buy</type>
			<text>COMPRAS</text>
			<class>fa-shopping-cart</class>
		</cjs:button>
        <cjs:button>
            <type>cash-print</type>
            <text>IMPRIMIR</text>
            <class>fa-print</class>
        </cjs:button>
    </div>
    <cjs:transaction-list data-id="transaction-list"></cjs:transaction-list>
</div>
