.& {
	width: 100%;
	text-align: left;
	color: $mainTextColor;
}
.& {line-height: 33px;}
.& label {display: inline-block; width: 150px}
.& button {
	font-size: 16px;
	height: 33px;
}
.& .bonus-buttons div {
	display: inline-block;
}
.& .bonus-buttons .selected button {
	background: green;
	color: white;
}
.& .transaction-list {display: none;}
.& .transaction-list.selected {display: block;}
