<div>
	<h1 data-item="title">TARJETA </h1>
	<div data-item="client-data">
		<hr/>
		Cliente:
		<span data-item="name"></span>
		<span data-item="surname"></span> -
		Email: <span data-item="email"></span> -
		Tel: <span data-item="tel"></span>
		<input type="hidden" data-item="client-id"/>
		<hr/>
	</div>
	<div class="bonus-buttons">
		<cjs:button data-item="add-bonus">
			<type>add-bonus</type>
			<text>ANADE BONUS</text>
			<class>fa-plus</class>
		</cjs:button>
	</div>
	<hr/>
	<div class="bonus-lists">

	</div>
</div>
