<div>
    <h1 data-item="title">{{cardsText}}</h1>
	<div class="sub-menu">
		<cjs:button>
			<type>card-new</type>
			<text>ANADE</text>
			<class>fa-plus-square</class>
		</cjs:button>
	</div>
    <fieldset class="list">
        <legend>Listado</legend>
        <cjs:list data-id="list"></cjs:list>
    </fieldset>
    <br/>
    <fieldset data-item="add" class="add hidden">
        <legend>Nuevo</legend>
        <cjs:client-edit data-id="client-add" data-on="submit:addClient">
            <button-text>Anade</button-text>
        </cjs:client-edit>
    </fieldset>

</div>
