<div>
    <cjs:user><user-name>Carmen</user-name></cjs:user>
    <cjs:user><user-name>Estefania</user-name></cjs:user>
    <cjs:user><user-name>Carmen</user-name></cjs:user>
    <cjs:user><user-name>Leyla</user-name></cjs:user>
    <cjs:user><user-name>Cristina</user-name></cjs:user>
    <br/><br/>
    <cjs:day><day-name>Lunedì 1</day-name></cjs:day>
    <cjs:day><day-name>Martedì 2</day-name></cjs:day>
    <cjs:day><day-name>Mercoledì 3</day-name></cjs:day>
    <cjs:day><day-name>Giovedì 4</day-name></cjs:day>
    <cjs:day><day-name>Venerdì 5</day-name></cjs:day>
</div>