<div>
	<div class="buttons">
		<cjs:button data-on="click:prevMonth"><text><<<</text></cjs:button>
		<cjs:button data-on="click:prevWeek"><text><<</text></cjs:button>
		<cjs:button data-on="click:prevDay"><text><</text></cjs:button>
		<h2 data-on="click:today" data-item="date" class="date"></h2>
		<cjs:button data-on="click:nextDay"><text>></text></cjs:button>
		<cjs:button data-on="click:nextWeek"><text>>></text></cjs:button>
		<cjs:button data-on="click:nextMonth"><text>>>></text></cjs:button>
	</div>
	<cjs:minicalendar data-on="day-click:changeDay" class="mini-calendar" data-id="mini-calendar"></cjs:minicalendar>
    <div class="processes" data-item="processes"></div>
    <div data-item="days"></div>
</div>
