.& {
	position: relative;
}

.& input.filter {
	top: -28px;
	left: -7px;
	height: 28px;
	padding-left: 13px;
	padding-right: 0;
	border: none;
	width: 101.4%;
	position: absolute;
	border-radius: 12px 12px 0px 0px;
	margin: -6px;
}

.& button {
	height: 33px;
	width: 100px;
}

.& .client {
	margin: 6px 0;
}

.& .scrollable {
	overflow-y: scroll;
	max-height: 450px;
	margin-top: 24px;
}
