<div>
    <input type="text" data-item="filter" data-on="keyup:filter" placeholder="filtro" />
    <div data-item="collection">
        <cjs:client>
            <name>Massimiliano</name>
            <surname>Cattaneo</surname>
            <email>massi.cattaneo@alice.it</email>
            <phone>684069797</phone>
            <id>1</id>
        </cjs:client>
        <cjs:client>
            <name>Giovanni</name>
            <surname>Cattaneo</surname>
            <email>gio.cattaneo@alice.it</email>
            <phone>684034797</phone>
            <id>2</id>
        </cjs:client>
    </div>
</div>