.& {display: none;}
.&.visible {display: block;}
.&:hover {
	background-color: rgba(255,255,255,0.2);
}
.& span {
	display: inline-block;
	overflow: hidden;
	height: 23px;
	line-height: 29px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.& .name-surname {
  width: 240px;
}
.& .email {
  width: 290px;
}
.& .phone {
  width: 140px;
}
.& button {
  width: 50px;
}
.& button:before {
  padding: 0
}
.& a:link, .& a:visited, .& a {
  color: $mainColor;
  text-decoration: none;
}
.& .client-view-wrapper.hidden {
  display: none;
}
.& .select {
	display: none;
}
.select .& .select {
	display: inline-block;
}
.select .& .no-select {
	display: none;
}

