<div class="visible">
    <span class="name-surname">
        <span>{{name}}</span>
        <span>{{surname}}</span>
    </span>
    <span class="email"><a href="mailto:{{email}}">{{email}}</a></span>
    <span class="phone"><a href="tel:{{phone}}">{{phone}}</a></span>
    <cjs:button>
        <type>client-history</type>
        <id>{{id}}</id>
        <class>fa-clock-o</class>
    </cjs:button>
    <cjs:button>
        <type>client-delete</type>
        <id>{{id}}</id>
        <class>fa-trash</class>
    </cjs:button>
</div>