.& {
  display: none;
  line-height: 29px;
}
.&.visible {
  display: block;
}
.&:hover {
  background-color: rgba(255,255,255,0.2);
}
.& span {
  display: inline-block;
	overflow: hidden;
	height: 23px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.& .created {width: 100px;}
.& .toPrint {display: none;}
.cash .& .toPrint {display: inline-block;}
.& .name {width: 185px;}
.cash .& .name {width: 165px;}

.& .description {
  width: 300px;
	font-size: 11px;
}
.& .type {
  width: 100px;
}
.& .value {
  width: 120px;
  color: #70e26b;
  text-align: right;
}
.& .value.negative {
  color: #e26b6b;
}

.&.bonus .value.negative {
	color: #6b6b6b;
}

.& button {
	width: 40px;
}
