.& {
	display: none;
	line-height: 29px;
}

.&.visible {
	display: block;
}

.&:hover {
	background-color: rgba(255, 255, 255, 0.2);
}


.& span {
	display: inline-block;
	overflow: hidden;
	height: 23px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.& .created {
	width: calc(12% - 13px);
}

.& .toPrint {
	display: none;
}

.cash .& .toPrint {
	display: inline-block;
}

.& .name {
	width: calc(24% - 13px);
}
.cash .& .name {width: calc(24% - 33px)}



.& .description {
	width: calc(40% - 13px);
	font-size: 11px;
}

.& .type {
	width: calc(12% - 13px);
}

.& .value {
	width: calc(10% - 13px);
	color: #70e26b;
	text-align: right;
}

.& .value.negative {
	color: #e26b6b;
}

.&.bonus .value {
	color: #8b8b8b;
}

.& button {
	width: 40px;
}
