.& {
  display: none;
  line-height: 33px;
}
.&.visible {
  display: block;
}
.&:hover {
  background-color: rgba(255,255,255,0.2);
}
.& span {
  display: inline-block;
}
.& .created {
  width: 100px;
}
.& .name {
	width: 165px;
}
.& .description {
  width: 350px;
}
.& .type {
  width: 120px;
}
.& .value {
  width: 120px;
  color: #70e26b;
  text-align: right;
}
.& .value.negative {
  color: #e26b6b;
}

.& button {
	width: 40px;
}
