<div class="visible">
    <span data-item="created" class="created" data-parser="short-date" data-server="transactions/{{id}}/created"></span>
    <span data-item="type" class="type" data-server="transactions/{{id}}/type"></span>
    <span style="display:none" data-item="cardId" data-parser="transactionType" data-server="transactions/{{id}}/cardId"></span>
	<span data-item="name" class="name" data-server="transactions/{{id}}/name"></span>
    <span data-item="description" class="description" data-server="transactions/{{id}}/description"></span>
    <span data-item="value" class="value" data-parser="currency" data-server="transactions/{{id}}/value"></span>
	<span style="display: none" data-item="user" data-server="transactions/{{id}}/user"></span>
	<cjs:button>
		<type>transaction-delete</type>
		<id>{{id}}</id>
		<class>fa-trash</class>
	</cjs:button>
</div>
