<div class="visible" data-item="wrapper">
    <span data-item="created" class="created" ></span>
    <input data-item="toPrint" data-server="transactions/{{id}}/toPrint" data-on="change:save" type="checkbox" class="toPrint" />
    <span data-item="type" class="type" ></span>
    <span style="display:none" data-item="cardId"></span>
	<span data-item="name" class="name"></span>
    <span data-item="description" class="description"></span>
    <span data-item="value" class="value" data-parser="currency"></span>
	<span style="display: none" data-item="user"></span>
	<cjs:button>
		<type>transaction-delete</type>
		<id>{{id}}</id>
		<class>fa-trash</class>
	</cjs:button>
</div>
