.& {
  width: 100%;
  text-align: left;
  color: $mainTextColor;
}
.& .users {display: none;}
.adminMode .& .users {display: block;}

.& fieldset {margin: 20px 0;}
.& fieldset legend {display:block;}

.& .logged-out .logged-out {display: block;}
.& .logged-out .logged-in {display: none;}
.& .logged-in .logged-out {display: none;}
.& .logged-in .logged-in {display: block;}
