<span>
    <h1>{{settingsText}}</h1>
    <br/>
	<fieldset class="bg">
		<legend style="display: block;">SELECIONA UNO SFONDO</legend>
		<span data-index="1" data-on="click:changeBg"></span>
		<span data-index="2" data-on="click:changeBg"></span>
		<span data-index="3" data-on="click:changeBg"></span>
		<span data-index="4" data-on="click:changeBg"></span>
		<span data-index="5" data-on="click:changeBg"></span>
		<span data-index="6" data-on="click:changeBg"></span>
		<span data-index="7" data-on="click:changeBg"></span>
		<span data-index="8" data-on="click:changeBg"></span>
		<span data-index="9" data-on="click:changeBg"></span>
		<span data-index="10" data-on="click:changeBg"></span>
		<span data-index="11" data-on="click:changeBg"></span>
	</fieldset>
</div>
